.first{
    margin-top: 30px;
   justify-content: center;
    width: 400px;
   margin-right: 2rem;
    display: flex;
    
    
    }
    
    .first{
        background-color:black;
        color: whitesmoke;
        border-radius: 15px;
        margin-top: 20px;
        
        
      }
      .btn{
       
        margin-left: 5rem;  
        background-color: white;
      }
      .second{
        width: 450px;
        height: auto;
        margin-top: 20px;
    color: white;
        background-color:green;
        
      }